<%= form_for(@girl) do |f| %>

  <%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
  <div id="error_explanation">
  <ul>
  <% @restaurant.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
  </div>
  <% end %>

<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :city %>
<%= f.text_field :city %>
<%= f.label :age %>
<%= f.text_field :age %>
<%= f.label :ad %>
<%= f.text_field :ad %>
<%= f.submit %>
<% end %>