<% content_for(:title) do %>
<%= @girl.name %> is on Good Girls On Top
<% end %>

<% content_for(:description) do %>
<%= @girl.description %>
<% end %>

<h1><%= @girl.name %></h1>

<h2><%= @girl.name %></h2>
<p><%= @girl.city %></p>
<p><%= @girl.age %></p>
<p><%= @girl.ad %></p>
